@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --swiper-navigation-size: 1px;
}

.swiper-button-prev,
.swiper-button-next {
  @apply w-8 h-8;
  @apply bg-secondary-300 text-primary-200 rounded-full shadow-xl cursor-pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-button-prev {
  @apply mr-2;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: '';
  display: block;
  width: var(--swiper-navigation-size);
  height: var(--swiper-navigation-size);
}

.swiper-button-prev svg,
.swiper-button-next svg {
  width: 24px;
  height: 24px;
  fill: currentColor;
}
